html {
  background-color: rgb(174, 179, 186);
  text-align: center;
  color: white;
}

body {
  margin: 0;
  color: white;
  overflow: hidden;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

#app {
  height: 100vh;
  text-align: center;
  /* overflow: hidden; */
}
