html {
  /* background-color: rgb(174, 179, 186);
   */
  /* background-color: rgba(39, 39, 39, 0.7);
   */

  /* background-color: white; */
  text-align: center;
  color: white;
  background-color: black;
}

@font-face {
  font-family: "FrutigerAero";
  src: url("./assets/fonts/AerobicsRegular.ttf") format("truetype");
}

h1 {
  font-family: "FrutigerAero";
}

.title {
  border: outset 1px white;
}

body {
  margin: 0;
  color: white;
  overflow: hidden;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

#app {
  background: linear-gradient(
    200deg,
    rgba(40, 40, 40, 0.9) 0,
    rgba(7, 7, 7, 0.93) 20%,
    rgba(19, 19, 19, 0.9) 40%,
    rgba(105, 102, 102, 0.93) 100%
  );
  /* border-radius: 40px; */
  height: 100vh;
  text-align: center;
  /* overflow: hidden; */
}
